@charset "UTF-8";
body{background-image: url(оранж.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
  background-size: 100% 110%;}





.red {color:#000000;}
.brown{color:black;}
.white{color:#DCDCDC}
