@charset "UTF-8";
body{background-image: url(дексеус.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
  background-size: 100% 2500%;

}




.privet{color:red;}
.orange{color:#FF4500;}
.yellow{color:#FFFF00}
.green{color:#7FFF00}
.galyboi{color:#00FFFF}
.blue{color:#0000CD}
.purple{color:#8A2BE2}
.black{color:black}
.white{color:white}
